.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 370px;
}

.header nav .link {
  text-decoration: none;
  color: #3498db;

  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.header nav .link:hover {
  background-color: #3498db;
  color: #fff;
}

.header .login .link {
  color: #3498db;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #3498db;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.link {
  text-decoration: none;
}

.header .login .link:hover {
  background-color: #3498db;
  color: #fff;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #2c3e50;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .header nav {
    display: none;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    right: 40px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .header nav.is-active {
    display: flex;
    flex-direction: column;
  }

  .header nav .link {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }

  .burger {
    display: flex;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .header nav .link {
    font-size: 14px;
    padding: 8px 10px;
  }

  .header .link.login {
    font-size: 14px;
    padding: 8px 10px;
  }

  .burger span {
    width: 20px;
    height: 2px;
  }
}
